In [15]:
## *************************LIST & ITS DEFAULT FUCTIONS**************************

In [13]:
##To Append an element in the list
mobBrands = ["Oneplus","Nokia","Apple","Samsung"]
mobBrands.append("Asus");
print(mobBrands);

['Oneplus', 'Nokia', 'Apple', 'Samsung', 'Asus']

In [2]:
##To insert an element at a specified index
mobBrands = ["Oneplus","Nokia","Apple","Samsung","Asus"]
mobBrands.insert(1,"Motorola")
print(mobBrands);

['Oneplus', 'Motorola', 'Nokia', 'Apple', 'Samsung', 'Asus']

In [3]:
##To Remove a particular item in a list
mobBrands = ["Oneplus","Nokia","Apple","Samsung","Asus"]
mobBrands.remove("Nokia")
print(mobBrands);

['Oneplus', 'Apple', 'Samsung', 'Asus']

In [4]:
##To pop a element from List
luckyNumber = [10,7,8,13,15,20]
luckyNumber.pop()
print(luckyNumber);

[10, 7, 8, 13, 15]

In [7]:
## To Remove all the items using clear
luckyNumber = [10,7,8,13,15,20]
luckyNumber.clear()
print(luckyNumber);

[]

In [9]:
## To Copy a List to another variable using copy
luckyNumber = [89,27,18,13,15,20,78,67,56,78]
copiedNumber = luckyNumber.copy()
print(copiedNumber);

[89, 27, 18, 13, 15, 20, 78, 67, 56, 78]

In [10]:
## To Copy a List to another variable using copy
luckyNumber = [89,27,18,13,15,20,78,67,56,78]
copiedNumber = list(luckyNumber);
print(copiedNumber);

[89, 27, 18, 13, 15, 20, 78, 67, 56, 78]

In [12]:
## To Join two lists
mobBrands = ["Oneplus","Nokia","Apple","Samsung","Asus"]
luckyNumber = [10,7,8,13,15,20]
mobBrands.extend(luckyNumber);
print(mobBrands);

['Oneplus', 'Nokia', 'Apple', 'Samsung', 'Asus', 10, 7, 8, 13, 15, 20]

In [ ]:
## *************************DICTIONARY & ITS DEFAULT FUCTIONS**************************

In [16]:
## Pop an specified item from dictionary
## From JS BACKGROUND Comfortable in creating dict like below that using dict.
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": 1980
}
myCar.pop("model")
print(myCar);

{'brand': 'ROYAL YARD', 'year': 1980}

In [17]:
## pop the last item which is inserted
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": 1980
}
myCar.popitem()
print(myCar);

{'brand': 'ROYAL YARD', 'model': 'EMERALD'}

In [21]:
## Delete a particular key-value pair from object using del command
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
del myCar['brand']
print(myCar);

{'model': 'EMERALD', 'year': [1980, 1970, 1960]}

In [25]:
## Delete entire dict
hisCar = {
  "brand": "AUDI",
  "model": "E-S",
  "year": 2020
}
del hisCar
### PRINTS ERROR COZ hisCar dict will be deleted

In [26]:
## Clear the contents of an dict
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
myCar.clear()
print(myCar);

{}

In [28]:
##Copy the contents of one dict to another dict
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
hisCar = myCar.copy();
print(hisCar);

{'brand': 'ROYAL YARD', 'model': 'EMERALD', 'year': [1980, 1970, 1960]}

In [30]:
## Get the value of a Particular key using get
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
hisCar = myCar.get('year');
print(hisCar);

[1980, 1970, 1960]

In [31]:
## Get the keys of an object
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
hisCar = myCar.keys()
print(hisCar);

dict_keys(['brand', 'model', 'year'])

In [32]:
## Get the values of object
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
hisCar = myCar.values()
print(hisCar);

dict_values(['ROYAL YARD', 'EMERALD', [1980, 1970, 1960]])

In [35]:
## append another key-value pair to an existing object
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}
myCar.update({"Color":"Red"})
print(myCar);

{'brand': 'ROYAL YARD', 'model': 'EMERALD', 'year': [1980, 1970, 1960], 'Color': 'Red'}

In [36]:
## Get the items of a particular object
myCar = {
  "brand": "ROYAL YARD",
  "model": "EMERALD",
  "year": [1980,1970,1960]
}

print(myCar.items());

dict_items([('brand', 'ROYAL YARD'), ('model', 'EMERALD'), ('year', [1980, 1970, 1960])])

In [37]:
## IMP: assign the values present in one variable to the key present in another. It returns a dictionary.
x = ('Emp1', 'Emp2', 'Emp3')
y = ["Bengaluru","Whitefield"]
thisdict = dict.fromkeys(x, y)


print(thisdict)

{'Emp1': ['Bengaluru', 'Whitefield'], 'Emp2': ['Bengaluru', 'Whitefield'], 'Emp3': ['Bengaluru', 'Whitefield']}

In [38]:
## *************************SET & ITS DEFAULT FUCTIONS**************************
## Adds an element to the set
food = {"apple", "banana", "cherry"}
food.add("orange")
print(food)

{'apple', 'banana', 'cherry', 'orange'}

In [39]:
##Update the set with the union of this set and others
food = {"apple", "banana", "cherry"}
food.update(["orange", "mango", "grapes"])
print(food)

{'banana', 'grapes', 'orange', 'cherry', 'apple', 'mango'}

In [40]:
##Removes all the elements from the set
food = {"apple", "banana", "cherry"}
food.clear()
print(food)

set()

In [41]:
##Returns a copy of the set
food = {"apple", "banana", "cherry"}
x = food.copy()
print(x)

{'apple', 'banana', 'cherry'}

In [43]:
##Returns a set containing the difference between two or more sets
food = {"apple", "banana","orange", "cherry"}
color = {"red","orange","cherry"}
print(food.difference(color))

{'apple', 'banana'}

In [47]:
##Removes the items in this set that are also included in another, specified set
x = {24, 26, 28, 30, 32, 34, 36}
y = {2, 4,6,8,10,24,26}

x.difference_update(y)

print(x)

{32, 34, 36, 28, 30}

In [51]:
##Remove the specified item
phones = {"Huawei", "Apple", "Microsoft", "GOOGLE"};
phones.discard("Huawei")
print(phones)

{'Microsoft', 'Apple', 'GOOGLE'}

In [53]:
##Returns a set, that is the intersection of two other sets
x = {2,3,4,5,6,7,8,9,10,11}
y = {7,8,9,10,11,12,13,14,15}

z = x.intersection(y)

print(z)

{7, 8, 9, 10, 11}

In [61]:
## Removes the items in this set that are not present in other
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [62]:
x = {1,2,3,4,5}
y = {13,14,15}

z = x.isdisjoint(y) 

print(z)

True

In [63]:
x = {1,2,3,4,5}
y = {13,14,15}

z = x.issubset(y) 

print(z)

False

In [64]:
x = {1,2,15,3,4,5,13,14}
y = {13,14,15}

z = x.issuperset(y) 

print(z)

True

In [68]:
x = {1,2,15,3,4,5,13,14}
print(x.pop())
print(x)

1
{2, 3, 4, 5, 13, 14, 15}

In [69]:
x = {1,2,15,3,4,5,13,14}
print(x.remove(15))
print(x)

None
{1, 2, 3, 4, 5, 13, 14}

In [70]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

In [72]:
 x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference_update(y) 

print(x)

{'banana', 'microsoft', 'google', 'cherry'}

In [73]:
x = {1,2,15,3,4,5,13,14}
y = {13,14,15}

z = x.union(y) 

print(z)

{1, 2, 3, 4, 5, 13, 14, 15}

In [81]:
x = {1,2,15,3,4,5,13,14}
y = {45,46,47}
x.update(y)
print(x )

{1, 2, 3, 4, 5, 13, 14, 15, 45, 46, 47}

In [83]:
## ************************Tuple & ITS DEFAULT FUCTIONS**************************
##Count Number of Occurance in a Tuple
cloud = ("GoDaddy","AWS","Hasura","Azure","IBM","GCP")
print(cloud.count("AWS"))

1

In [84]:
##Returns the position of a Particular item searched 
cloud = ("GoDaddy","AWS","Hasura","Azure","IBM","GCP")
print(cloud.index("IBM"))

4

In [85]:
## ************************Strings & ITS DEFAULT FUCTIONS**************************
## find method finds the first occurrence of the specified value.
Comm1 = "ARMED MODE ENTER"

x = Comm1.find("MODE")

print(x)

6

In [88]:
##Joins the elements of an iterable to the end of the string
myTuple = ("Khadi ", " Karnataka " ," Made in India")

x = "*".join(myTuple)

print(x)

Khadi * Karnataka * Made in India

In [89]:
##Returns a string where a specified value is replaced with a specified value
txt = "SAMSUNG PHONES ARE BEST"

x = txt.replace("SAMSUNG", "APPLE")

print(x)

Apple PHONES ARE BEST

In [91]:
## Converts a string into upper case
capital = "i love new delhi"

x = capital.upper()

print(x)

I LOVE NEW DELHI

In [93]:
##Splits the string at the specified separator, and returns a list
txt = "armeddisarmedpartarmed"

x = txt.split("ed")

print(x)

['arm', 'disarm', 'partarm', '']